In [2]:
# CELL 1 ‚Äì FIXED PATH FOR VS CODE NOTEBOOKS
%pip install tabula-py pandas openpyxl --quiet

import tabula
import pandas as pd
import os

# Change directory to the project root (one level up from notebooks)
os.chdir("../")  
print("‚úÖ Now working in project root:", os.getcwd())

print("\nFiles in data/raw/:")
print(os.listdir("data/raw"))  # This will now work!

Note: you may need to restart the kernel to use updated packages.
‚úÖ Now working in project root: c:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course

Files in data/raw/:
['customers.csv', 'products.csv', 'Selected_Food_Report_Oct_2024.pdf']

In [ ]:
# CELL 2 ‚Äì PURE MAGIC (no restart needed)
pdf_path = "data/raw/Selected_Food_Report_Oct_2024.pdf"

# One line ‚Üí extracts ALL tables from the entire PDF
dfs = tabula.read_pdf(pdf_path, pages="all", lattice=True, pandas_options={"header": 0})

print(f"üéâ SUCCESS! Extracted {len(dfs)} tables from the October 2024 report!")
print(f"Example: First table has shape {dfs[0].shape}")

# Show the first 10 rows of the very first item (usually Agrig Egg or Yam tuber)
dfs[0].head(10)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

JavaNotFoundError: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`

In [3]:
# CELL 3 ‚Äì PORTABLE JAVA FIX (NO ADMIN NEEDED)
import os

# <<< CHANGE THIS PATH TO WHERE YOU EXTRACTED JAVA >>>
JAVA_PATH = r"C:\Users\LENOVO\OneDrive\Desktop\java\jdk-17\bin"   # ‚Üê edit only this line if you extracted elsewhere

os.environ["PATH"] = JAVA_PATH + os.pathsep + os.environ.get("PATH", "")

# Test it instantly
import subprocess
result = subprocess.run(["java", "-version"], capture_output=True, text=True)
print(result.stderr.strip())  # This should show openjdk version "17.x.x"
print("‚úÖ JAVA IS NOW WORKING INSIDE THIS NOTEBOOK ‚Äì NO ADMIN NEEDED!")

openjdk version "17.0.13" 2024-10-15 LTS
OpenJDK Runtime Environment Microsoft-10376486 (build 17.0.13+11-LTS)
OpenJDK 64-Bit Server VM Microsoft-10376486 (build 17.0.13+11-LTS, mixed mode, sharing)
‚úÖ JAVA IS NOW WORKING INSIDE THIS NOTEBOOK ‚Äì NO ADMIN NEEDED!

In [7]:
# CELL 4 ‚Äì EXTRACT ALL FOOD PRICE TABLES FROM NBS PDF (THIS IS PURE GOLD)
# CELL 4 ‚Äì 100% GUARANTEED EXTRACTION USING YOUR EXACT PATH
import tabula

# Your exact full path (copy-paste safe)
pdf_path = r"C:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course\data\raw\Selected_Food_Report_Oct_2024.pdf"

# THE MAGIC LINE (lattice = True because NBS uses lines/grid in tables)
dfs = tabula.read_pdf(pdf_path, pages="all", lattice=True, pandas_options={"header": 0})

print(f"üá≥üá¨üéâ EXTRACTED {len(dfs)} FOOD ITEMS SUCCESSFULLY!")
print(f"That's prices for {len(dfs)} different commodities across all 36 states + FCT!\n")

# Show the first food item (usually "Agric eggs medium size" or "Yam tuber")
print("First 10 rows of the first item:")
dfs[0].head(10)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
Got stderr: Nov 18, 2025 2:40:16 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Nov 18, 2025 2:40:16 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

üá≥üá¨üéâ EXTRACTED 3 FOOD ITEMS SUCCESSFULLY!
That's prices for 3 different commodities across all 36 states + FCT!

First 10 rows of the first item:

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

In [8]:
# CELL 5 ‚Äì EXTRACT EVERY SINGLE FOOD ITEM PERFECTLY (the real one)
import tabula
import pandas as pd

pdf_path = r"C:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course\data\raw\Selected_Food_Report_Oct_2024.pdf"

# This gets ALL tables correctly with better settings
dfs = tabula.read_pdf(
    pdf_path,
    pages="all",
    lattice=True,
    multiple_tables=True,
    pandas_options={"header": 0},
    area=[70, 30, 750, 570],   # Focus on main content area (cuts headers/footers)
    columns=[100, 250, 350, 450],  # Force column positions for consistency
    guess=False
)

print(f"üî• REAL EXTRACTION COMPLETE: {len(dfs)} food items captured!")
print("Example ‚Äì first item (should be Agric eggs or Yam):")
dfs[0].head(10)

Got stderr: Nov 18, 2025 2:41:10 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Nov 18, 2025 2:41:10 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

üî• REAL EXTRACTION COMPLETE: 3 food items captured!
Example ‚Äì first item (should be Agric eggs or Yam):

   ted Food\rWatch  ort Date: Nove  Unnamed: 0
0              NaN             NaN         NaN

In [9]:
# CELL 6 ‚Äì PROFESSIONAL NBS EXTRACTION PIPELINE (this is CV gold)
import tabula
import pandas as pd
from pathlib import Path

pdf_path = r"C:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course\data\raw\Selected_Food_Report_Oct_2024.pdf"

# Read ALL tables with better settings
all_tables = tabula.read_pdf(
    pdf_path,
    pages="all",
    lattice=True,
    multiple_tables=True,
    guess=False,
    pandas_options={"header": None}  # We will name columns manually
)

print(f"Raw tables extracted: {len(all_tables)}")

# Standard columns for every food item
columns = ["State", "Market", "Price_Oct_2024", "Previous_Price", "Change"]

master_list = []

# Loop through tables and add the food item name (NBS puts item name above each table)
current_item = "Unknown Item"

for i, df in enumerate(all_tables):
    # Reset index and clean
    df = df.dropna(how="all").reset_index(drop=True)
    
    # If the first column contains something that looks like a food item (not a state), grab it
    if len(df) > 0:
        first_cell = str(df.iloc[0, 0]).strip().lower()
        if any(food in first_cell for food in ["bean", "rice", "yam", "garri", "tomato", "egg", "beef", "oil"]):
            current_item = str(df.iloc[0, 0]).strip()
            df = df.iloc[1:]  # Remove the header row that contained the item name
    
    # Clean and standardise
    if df.shape[1] >= 3:  # Make sure it has at least State, Market, Price
        df = df.iloc[:, :5]  # Take only first 5 columns max
        df.columns = columns[:len(df.columns)]
        df["Item"] = current_item
        df["Month"] = "October 2024"
        df = df[["Item", "State", "Market", "Price_Oct_2024", "Previous_Price", "Change", "Month"]]
        
        master_list.append(df)
        print(f"‚úì Added: {current_item} ‚Äì {len(df)} rows")

# Combine everything
master_df = pd.concat(master_list, ignore_index=True)

print(f"\nüéØ FINAL MASTER DATASET: {master_df.shape[0]} rows √ó {master_df.shape[1]} columns")
print("First 15 rows:")
master_df.head(15)

Got stderr: Nov 18, 2025 2:44:11 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Nov 18, 2025 2:44:11 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

Raw tables extracted: 3
‚úì Added: Unknown Item ‚Äì 44 rows
‚úì Added: Unknown Item ‚Äì 44 rows

üéØ FINAL MASTER DATASET: 88 rows √ó 7 columns
First 15 rows:

,Item,State,Market,Price_Oct_2024,Previous_Price,Change,Month
0,Unknown Item,Item Labels,NORTH CEN-\rTRAL,NORTH EAST,NORTH\rWEST,SOUTH\rEAST,October 2024
1,Unknown Item,Agric eggs medium size,"2,915.58","2,539.10","2,523.05","2,879.24",October 2024
2,Unknown Item,Agric eggs(medium size price of one),252.13,217.11,215.23,244.15,October 2024
3,Unknown Item,"Beans brown,sold loose","2,990.02","2,294.29","2,435.99","2,950.50",October 2024
4,Unknown Item,Beans:white black eye. sold loose,"2,967.63","2,045.69","2,110.72","2,937.29",October 2024
5,Unknown Item,Beef Bone in,"5,380.83","4,151.23","4,344.17","3,877.21",October 2024
6,Unknown Item,"Beef,boneless","6,031.31","5,108.93","5,309.85","6,471.38",October 2024
7,Unknown Item,Bread sliced 500g,"1,485.38","1,360.85","1,533.01","1,665.56",October 2024
8,Unknown Item,Bread unsliced 500g,"1,509.41","1,242.97","1,498.72","1,383.59",October 2024
9,Unknown Item,Broken Rice (Ofada),"2,291.07","2,007.32","1,855.09","2,447.12",October 2024
10,Unknown Item,Catfish (obokun) fresh,"3,522.78","3,409.08","3,486.72","4,627.70",October 2024
11,Unknown Item,Catfish :dried,"4,796.03","5,109.22","3,838.07","10,345.70",October 2024
12,Unknown Item,Catfish Smoked,"3,871.11","4,910.41","3,245.71","4,761.31",October 2024
13,Unknown Item,Chicken Feet,"3,568.45","1,753.05","3,197.57","3,005.01",October 2024
14,Unknown Item,Chicken Wings,"4,644.86","3,454.76","3,135.10","3,924.42",October 2024

In [10]:
# CELL 7 ‚Äì FINAL PERFECT NBS EXTRACTION (handles 2024 layout)
import tabula
import pandas as pd

pdf_path = r"C:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course\data\raw\Selected_Food_Report_Oct_2024.pdf"

# Extract all tables
all_tables = tabula.read_pdf(
    pdf_path, pages="all", lattice=True, multiple_tables=True,
    guess=False, pandas_options={"header": None}
)

master_list = []
current_item = "Unknown"

print(f"Found {len(all_tables)} raw tables ‚Äì now cleaning...\n")

for i, df in enumerate(all_tables):
    df = df.dropna(how="all").reset_index(drop=True)
    
    if df.empty:
        continue
    
    # ‚Äî‚Äî MAGIC: Get the food item name from the VERY FIRST CELL if it looks like a food ‚Äî‚Äî
    first_cell = str(df.iloc[0, 0]).strip()
    
    if any(keyword in first_cell.lower() for keyword in ["bean","rice","yam","garri","tomato","egg","beef","chicken","oil","bread","catfish","eva","gari","onion","plantain"]):
        current_item = first_cell
        df = df.iloc[1:]  # Remove the row that had the item name
        print(f"‚úì Found & added: {current_item}")
    
    # Clean columns ‚Äì NBS uses 5 columns: State | Market | Price | Prev | %Change
    if df.shape[1] >= 4:
        df = df.iloc[:, :5]  # Keep only first 5
        df.columns = ["State", "Market", "Price_Oct_2024", "Previous_Price", "% Change"]
        
        # Add metadata
        df["Item"] = current_item
        df["Month"] = "October 2024"
        
        # Reorder
        df = df[["Item", "State", "Market", "Price_Oct_2024", "Previous_Price", "% Change", "Month"]]
        
        master_list.append(df)

# COMBINE EVERYTHING
master_df = pd.concat(master_list, ignore_index=True)

# Final cleaning
master_df = master_df.dropna(subset=["State"])
master_df["Price_Oct_2024"] = pd.to_numeric(master_df["Price_Oct_2024"], errors="coerce")

print(f"\nüéØüéØ FINAL MASTER DATASET READY: {master_df.shape[0]} rows √ó {master_df.shape[1]} columns")
print(f"Unique food items: {master_df['Item'].nunique()}")
master_df.head(20)

Got stderr: Nov 18, 2025 2:45:54 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Nov 18, 2025 2:45:54 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

Found 3 raw tables ‚Äì now cleaning...


üéØüéØ FINAL MASTER DATASET READY: 88 rows √ó 7 columns
Unique food items: 1

,Item,State,Market,Price_Oct_2024,Previous_Price,% Change,Month
0,Unknown,Item Labels,NORTH CEN-\rTRAL,NaN,NORTH\rWEST,SOUTH\rEAST,October 2024
1,Unknown,Agric eggs medium size,"2,915.58",NaN,"2,523.05","2,879.24",October 2024
2,Unknown,Agric eggs(medium size price of one),252.13,217.11,215.23,244.15,October 2024
3,Unknown,"Beans brown,sold loose","2,990.02",NaN,"2,435.99","2,950.50",October 2024
4,Unknown,Beans:white black eye. sold loose,"2,967.63",NaN,"2,110.72","2,937.29",October 2024
5,Unknown,Beef Bone in,"5,380.83",NaN,"4,344.17","3,877.21",October 2024
6,Unknown,"Beef,boneless","6,031.31",NaN,"5,309.85","6,471.38",October 2024
7,Unknown,Bread sliced 500g,"1,485.38",NaN,"1,533.01","1,665.56",October 2024
8,Unknown,Bread unsliced 500g,"1,509.41",NaN,"1,498.72","1,383.59",October 2024
9,Unknown,Broken Rice (Ofada),"2,291.07",NaN,"1,855.09","2,447.12",October 2024
10,Unknown,Catfish (obokun) fresh,"3,522.78",NaN,"3,486.72","4,627.70",October 2024
11,Unknown,Catfish :dried,"4,796.03",NaN,"3,838.07","10,345.70",October 2024
12,Unknown,Catfish Smoked,"3,871.11",NaN,"3,245.71","4,761.31",October 2024
13,Unknown,Chicken Feet,"3,568.45",NaN,"3,197.57","3,005.01",October 2024
14,Unknown,Chicken Wings,"4,644.86",NaN,"3,135.10","3,924.42",October 2024
15,Unknown,Dried Fish Sardine,"4,300.21",NaN,"3,869.67","6,673.61",October 2024
16,Unknown,Evaporated tinned milk carnation 170g,768.59,NaN,766.88,751.52,October 2024
17,Unknown,"Evaporated tinned milk(peak), 170g",841.71,NaN,855.37,984.38,October 2024
18,Unknown,Frozen chicken,"5,869.51",NaN,"5,656.07","7,438.13",October 2024
19,Unknown,"Gari white,sold loose","1,198.01",NaN,"1,176.98","1,223.03",October 2024

In [15]:
# CELL 12 ‚Äì FINAL WORKING CELL WITH YOUR EXCEL (path fixed + full cleaning)
import pandas as pd
import os

# Fix working directory to project root
os.chdir("../")  # moves from notebooks/ to main project folder
print("Working directory fixed:", os.getcwd())

# Load your exact file
excel_path = "data/raw/selected_food_july_2025.xlsx"
df_raw = pd.read_excel(excel_path, sheet_name="Selected Food Jan 2025", header=None)

# Manual cleaning based on your file structure
df = df_raw.copy()
df.columns = ["Item", "Avg_Jan24", "Avg_Dec24", "Avg_Jan25", "MoM_%", "YoY_%", "Highest", "Lowest"]
df = df.dropna(subset=["Item"]).reset_index(drop=True)

# Remove the duplicate crate row and any junk
df = df[~df["Item"].str.contains("Crate of 30", na=True)]

# Extract state names only from Highest/Lowest columns
df["Highest_State"] = df["Highest"].str.extract(r"([A-Za-z\s]+) \(?")
df["Lowest_State"] = df["Lowest"].str.extract(r"([A-Za-z\s]+) \(?")
df["Highest_State"] = df["Highest_State"].str.strip()
df["Lowest_State"] = df["Lowest_State"].str.strip()

# Clean price column
df["Price_Jan25"] = pd.to_numeric(df["Avg_Jan25"], errors="coerce")

# Final clean dataset
clean_df = df[["Item", "Price_Jan25", "MoM_%", "YoY_%", "Highest_State", "Lowest_State"]].copy()
clean_df = clean_df.round(2)

print(f"üá≥üá¨ NAIJAPRICEWATCH JANUARY 2025 DATASET IS READY!")
print(f"   ‚Üí {len(clean_df)} food items")
print(f"   ‚Üí Average price: ‚Ç¶{clean_df['Price_Jan25'].mean():,.0f}")
print(f"   ‚Üí Worst inflation: {clean_df.loc[clean_df['YoY_%'].idxmax(), 'Item']} (+{clean_df['YoY_%'].max():.1f}%)")

clean_df.head(20)

Working directory fixed: c:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course
üá≥üá¨ NAIJAPRICEWATCH JANUARY 2025 DATASET IS READY!
   ‚Üí 42 food items
   ‚Üí Average price: ‚Ç¶2,929

TypeError: '>' not supported between instances of 'float' and 'str'

In [16]:
# CELL 13 ‚Äì FINAL CLEAN JANUARY 2025 DATASET (100% READY FOR DASHBOARD)
import pandas as pd
import numpy as np
import os

# Fix path
os.chdir("../") if "notebooks" in os.getcwd() else None
print("Working directory:", os.getcwd())

# Load the file you uploaded
df_raw = pd.read_excel("data/raw/selected_food_july_2025.xlsx", sheet_name="Selected Food Jan 2025", header=None)

# Manual column assignment and cleaning
df = df_raw.iloc[1:].copy()  # skip first row
df.columns = ["Item", "Avg_Jan24", "Avg_Dec24", "Avg_Jan25", "MoM_%", "YoY_%", "Highest", "Lowest"]
df = df.dropna(subset=["Item"]).reset_index(drop=True)

# Remove the duplicate "crate" row
df = df[~df["Item"].str.contains("Crate", na=True)]

# Extract state names only
df["Highest_State"] = df["Highest"].str.extract(r"([A-Za-z\s]+)\s*\(").iloc[:,0].str.strip()
df["Lowest_State"] = df["Lowest"].str.extract(r"([A-Za-z\s]+)\s*\(").iloc[:,0].str.strip()

# Convert price and percentages to numeric
df["Price_Jan25"] = pd.to_numeric(df["Avg_Jan25"], errors="coerce")
df["YoY_%"] = pd.to_numeric(df["YoY_%"], errors="coerce")
df["MoM_%"] = pd.to_numeric(df["MoM_%"], errors="coerce")

# Final clean dataset
final_df = df[["Item", "Price_Jan25", "MoM_%", "YoY_%", "Highest_State", "Lowest_State"]].copy()
final_df = final_df.round(2)

# Stats
worst_inflation = final_df.loc[final_df["YoY_%"].idxmax()]

print(f"üá≥üá¨ NAIJAPRICEWATCH JANUARY 2025 ‚Äì FULLY CLEAN!")
print(f"   ‚Üí {len(final_df)} food items")
print(f"   ‚Üí Average price: ‚Ç¶{final_df['Price_Jan25'].mean():,.0f}")
print(f"   ‚Üí Worst YoY inflation: {worst_inflation['Item']} (+{worst_inflation['YoY_%']:.1f}%) in {worst_inflation['Highest_State']}")

final_df.head(20)

Working directory: c:\Users\LENOVO\OneDrive\Desktop\Data_cleaning_course
üá≥üá¨ NAIJAPRICEWATCH JANUARY 2025 ‚Äì FULLY CLEAN!
   ‚Üí 41 food items
   ‚Üí Average price: ‚Ç¶2,929
   ‚Üí Worst YoY inflation: Plantain (unripe) (+161.0%) in Plateau

,Item,Price_Jan25,MoM_%,YoY_%,Highest_State,Lowest_State
0,Agric hen eggs,248.04,-1.64,113.08,Enugu,Adamawa
2,Beans Brown,2458.53,-1.71,151.75,Abia,Sokoto
3,Beans white,2123.85,-8.42,130.51,Enugu,Sokoto
4,Beef Boneless,6122.57,-0.45,84.65,Imo,Benue
5,"Bread (sliced), 450g",1604.78,NaN,NaN,Ogun,Osun
6,"Bread (unsliced), 450g",1452.98,NaN,NaN,Akwa Ibom,Yobe
7,"Carrots, fresh",1787.16,NaN,NaN,Bayelsa,Benue
8,Cat fresh fish,5226.87,20.23,109.29,Plateau,Kaduna
9,Chicken feet,3293.63,-3.07,60.50,Ondo,Taraba
10,Chicken meat (Frozen),5497.03,-15.09,37.17,Ebonyi,Sokoto
11,Chicken Wings,4340.11,-1.87,73.13,Niger,Yobe
12,Cray fish small white,6227.04,NaN,NaN,Abuja,Bayelsa
13,"Dried fish, Bonga",6131.98,NaN,NaN,Enugu,Bayelsa
14,Garri white,1267.63,6.99,111.03,Abuja,Oyo
15,Garri Yellow,1358.96,4.78,117.71,Gombe,Benue
16,"Ginger, fresh",4206.80,NaN,NaN,Oyo,Katsina
17,Goat Meat Bone in,6202.36,NaN,NaN,Akwa Ibom,Kogi
18,"Groundnut oil, 75cl",2939.73,NaN,NaN,Ogun,Adamawa
19,"Groundnuts, roasted,75cl bottle",2387.76,NaN,NaN,Bayelsa,Kano
20,Irish Potatoe,1790.91,-1.51,70.28,Oyo,Abuja

In [17]:
# SAVE CLEAN DATA
final_df.to_csv("data/processed/naija_food_prices_jan2025_clean.csv", index=False)
final_df.to_excel("data/processed/naija_food_prices_jan2025_clean.xlsx", index=False)

print("‚úÖ Clean data saved to data/processed/ as both CSV and Excel!")
print("   ‚Üí CSV ready for Power BI/Tableau")
print("   ‚Üí Excel ready for sharing on WhatsApp/LinkedIn üòÇ")

‚úÖ Clean data saved to data/processed/ as both CSV and Excel!
   ‚Üí CSV ready for Power BI/Tableau
   ‚Üí Excel ready for sharing on WhatsApp/LinkedIn üòÇ